footer {
  text-align: center;
  background-color: #eee;
  padding: 50px;
}
.footer-nav{
  list-style: none;
  float: left;
}

.footer-nav li{
   display: inline-block;
   margin-right: 20px;
 }


@media (max-width: 1000px) {
  .footer-nav li{
    display: block;
    margin-right: 20px;
  }
}


