<div class="row">
  <div class="col-xl-12 ">
    <h3>BEFORE THEY WERE STARS</h3>
  </div>
  <div class="col-xs-12">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="items_1"
      [width]="1028"
      [$prev]="prev"
      [$next]="next"
      [$item]="item">
    </div>
    <ng-template #prev>
      <img src="assets/images/left-arrow.png" id="left"/>
    </ng-template>
    <ng-template #next>
      <img src="assets/images/right-arrow.png" id="right" />
    </ng-template>

    <ng-template #item let-item let-i="index">
      <app-carousel-single [item]="item" height="100px"></app-carousel-single>
    </ng-template>
  </div>
</div>
<!--ATHLETES & THEIR TRIUMPHS-->
<div class="row">
  <div class="col-xl-12">
    <h3>ATHLETES & THEIR TRIUMPHS</h3>
  </div>
  <div class="col-xs-12">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="items_2"
      [width]="1028"
      [$prev]="prev"
      [$next]="next"
      [$item]="item">
    </div>
    <ng-template #prev>
      <img src="assets/images/left-arrow.png" id="left"/>
    </ng-template>
    <ng-template #next>
      <img src="assets/images/right-arrow.png" id="right" />
    </ng-template>

    <ng-template #item let-item let-i="index">
      <app-carousel-single [item]="item" height="200px"></app-carousel-single>
    </ng-template>
  </div>
</div>
